h1{
    text-align: center;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mainForm{
    background-color: #FFB6C1;
    color: white;
    padding: 5px;
    border:4px solid pink;
    border-radius: 30px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}
h2{
    text-align: center;
    
}
.mainForm input{
    margin: 0 2px;
    width: 140px;
    border: 1px solid grey;
    border-radius: 5px;
}
.mainForm .submit{
    margin: 0 auto;
}

.formDiv{
    margin: 15px 0;
}
.selectedTempers{
    background-color: #ffdbe4;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 30px;
}


.temperSelected{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 160px;
    height: 60px;
    background-color: pink;
    color: black;
    margin: 10px;
    border: 2px solid white;
    border-radius: 15px;
}
.temperSelected button{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    text-align: center;
    background-color: transparent;
}
.temperSelected button:hover{
    background-color: white;
    border-color: pink;
    color: black;
    cursor: pointer;
}